# Virtual Environment
myenv/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Environment Variables
.env
.streamlit/secrets.toml

# Streamlit
.streamlit/cache/

# VS Code
.vscode/

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db